<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View media</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-title>{{title}}</ion-card-title>
    <img [src]="url" (click)="showImage()">

    <ion-card-content>
      <button class="button" (click)="addToFavourites(mediaID)">LIKE</button>
    </ion-card-content>

    <ion-card-content>
      <h6>{{ description }}</h6>
    </ion-card-content>

    <ion-card-content>
      <p *ngIf="tags !== ''">{{ tags }}</p>
    </ion-card-content>

    <ion-card-content>
      <ion-list *ngIf="commentsLoaded">
        <ion-card *ngFor="let comment of commentArray" class="commentcard">
          <p class="commentergit">{{comment.user.username}}</p>
          <p class="comment">{{comment.comment}}</p>

        </ion-card>

      </ion-list>
    </ion-card-content>

    <form>
    <ion-item class="">
      <ion-label floating color="gray">Comment as {{currentUserName}}</ion-label>
      <ion-textarea [(ngModel)]="commentData.comment" type="text" name="comment" id="comment"></ion-textarea>
    </ion-item>
    <button primary block class="button commentbutton" type="submit" (click)="pushComment()" color="button">Comment</button>
    </form>

  </ion-card>

</ion-content>
