<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <div class="image">
    <img [src]="url" (click)="showImage()">
    </div>

    <ion-card-content class="likes">
      <button (click)="addToFavourites(mediaID), countFavourites()" id="heart"></button>
      <div class="likecount"><h1>{{likeCount}}{{likeInfo}}</h1></div>
    </ion-card-content>

    <ion-card-content *ngIf="commentsLoaded">
      <h2>Description:</h2>
      <p class="description">{{ description | coordinatesPipe:'desc' }}</p>
    </ion-card-content>

    <ion-card-content class="taglistwrapper">
      <ion-list class="taglist" *ngFor="let tag of tags">
      <p class="tag" *ngIf="tags !== ''" (click)="openByTag(tag.tag)">{{ tag.tag }}</p>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <ion-list>
        <div *ngIf="commentsLoaded">
        <ion-card *ngFor="let comment of this.commentArray" class="commentcard">
          <p class="commenter">{{comment.user.username}}</p>
          <p class="comment">{{comment.comment}}</p>
        </ion-card>
        </div>
      </ion-list>
    </ion-card-content>

    <form>
      <div class="commentbar">
    <ion-item class="commentfield">
      <ion-label floating color="gray" class="floater">Comment as {{currentUserName}}</ion-label>
      <ion-textarea [(ngModel)]="commentData.comment" type="text" name="comment" id="comment"></ion-textarea>
    </ion-item>
    <button primary block class="button" type="submit" (click)="pushComment()" color="button">
      Comment
    </button>
      </div>
    </form>

  </ion-card>

</ion-content>
