page-profile {
  .ProfilePage{
    background-color: $dark !important;
  }
  .hidden {
    visibility: hidden;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  h5{
    text-decoration: underline;
  }
  ion-item{
    padding: 0 !important;
    margin: 0 !important;
    background-color: $dark;
  }
  h1{
    color: white;
  }
  .errormessage{
    background-color: $dark;
    padding: 5px;
    border: solid 2px white !important;
    text-align: center !important;
  }
}
