page-profile {
  .ProfilePage{
    background-color: $dark !important;
  }

  .title-image {
    margin-top: 8px;
    height: 40px;
    padding: 8px;
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  h5{
    text-decoration: underline;
  }
  ion-item{
    padding: 0 !important;
    margin: 0 !important;
    background-color: $dark;
  }
  h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0px !important;
  }

  h2{
    text-align: center;
  }
  .errormessage{
    background-color: $dark;
    padding: 4px;
    border: solid 2px white !important;
    text-align: center !important;
  }
  ion-label{
    padding: 0px !important;
  }
  .item-inner{
    padding: 0px;
  }
  h6{
    margin-top: 0px !important;
  }
}
