<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ProfilePage" color="dark" padding>

  <ion-content *ngIf="loggedout">
    <ion-list id="login">
      <h1>Login</h1>

      <ion-item class="ProfilePage">
        <ion-label floating color="light">Username</ion-label>
        <ion-input [(ngModel)]="loginUser.username" type="text" value=""></ion-input>
      </ion-item>

      <ion-item class="ProfilePage">
        <ion-label floating color="light">Password</ion-label>
        <ion-input [(ngModel)]="loginUser.password"  type="password" value=""></ion-input>
      </ion-item>

      <button ion-button full class="button" primary block (click)="login()" color="button">Log In</button>

      <ion-item class="errormessage" *ngIf="loginErrorBoolean">
        <h6>There was an error while logging in,<br> Please check your credentials! </h6>
      </ion-item>

    </ion-list>
    <h5 (click)="onButtonClick()">Or Sign Up Here!</h5>
    <ion-list id="signup" *ngIf="buttonClicked">
      <ion-item class="ProfilePage">
        <ion-label floating color="light">Username</ion-label>
        <ion-input [(ngModel)]="newUser.username" type="text" value=""></ion-input>
      </ion-item>

      <ion-item class="ProfilePage">
        <ion-label floating color="light">Password</ion-label>
        <ion-input [(ngModel)]="newUser.password"  type="password" value=""></ion-input>
      </ion-item>

      <ion-item class="ProfilePage">
        <ion-label floating color="light">Email</ion-label>
        <ion-input [(ngModel)]="newUser.email"  type="text" value=""></ion-input>
      </ion-item>

      <ion-item class="ProfilePage">
        <ion-label floating color="light">Full name</ion-label>
        <ion-input [(ngModel)]="newUser.full_name"  type="text" value=""></ion-input>
      </ion-item>

      <button ion-button full class="button" primary block  (click)="register()" color="button">Sign up</button>

      <ion-item class="errormessage" *ngIf="succesfulSignUp">
        <h6>Signed up Succesfully <br> Please Log In next!</h6>
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-content class="user-profile" *ngIf="!loggedout">
    <h1>You are logged in as: {{ userInfo['username'] }}</h1>
  </ion-content>

</ion-content>
