<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form id="uploadForm">

    <h1>Upload a file</h1>
    <input type="file" id="upfile" class="hidden button" (change)="setFile($event)"/>

    <ion-item id="rounded">
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="media.title" type="text" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="media.description" type="text" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Tags</ion-label>
      <ion-textarea [(ngModel)]="newTag" type="text" name="tag"></ion-textarea>
    </ion-item>

    <div padding>
      <button primary block class="button" (click)="addTag()">Add tag</button>
    </div>

    <ion-list padding *ngFor="let tag of tags; let i = index">
      <li (click)="removeTag(i)">{{ tag }}</li>
    </ion-list>

    <div padding>
      <button primary block class="button" id="uploadbutton" type="submit" (click)="startUpload()">Upload</button>
    </div>

  </form>
  
  <h1 *ngIf="locationFound">Picture location</h1>
  <div style="width: 100%; height: 400px" id="upload_map"></div>

</ion-content>
